<form xmlns:th="http://www.thymeleaf.org" th:id="form-lookup" th:action="@{~/master/lookup/update}"
      th:method="post" th:object="${lookup}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel4">Update lookup</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger errors" role="alert">
                <ul>
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                </ul>
            </div>
            <input type="hidden" name="id" th:value="${lookup.id}">
            <div class="row g-2">
                <div class="col mb-0">
                    <label for="group" class="form-label">Group</label>
                    <select id="group" name="group" th:value="${lookup.group}" data-allow-clear="true"
                            th:class="${#fields.hasErrors('group')}? 'form-select select2 is-invalid': 'form-select select2'">
                        <option value="">Pilih Group</option>
                        <option th:each="item : ${groups}" th:value="${item.kode}" th:text="${item.nama}" th:selected="${item.kode == lookup.group}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('group')}" class="invalid-feedback">
                        <span th:errors="*{group}"></span>
                    </div>
                </div>
                <div class="col mb-0">
                    <label for="kode" class="form-label">Kode</label>
                    <input type="text" id="kode" name="kode"  th:value="${lookup.kode}"th:class="${#fields.hasErrors('kode')}? 'form-control is-invalid': 'form-control'" placeholder="Kode" />
                    <div th:if="${#fields.hasErrors('kode')}" class="invalid-feedback">
                        <span th:errors="*{kode}"></span>
                    </div>
                </div>
            </div>

            <div class="row g-2">
                <div class="col mb-0">
                    <label for="nama" class="form-label">Nama</label>
                    <input type="text" id="nama" name="nama" th:value="${lookup.nama}" th:class="${#fields.hasErrors('nama')}? 'form-control is-invalid': 'form-control'" placeholder="Nama" />
                    <div th:if="${#fields.hasErrors('nama')}" class="invalid-feedback">
                        <span th:errors="*{nama}"></span>
                    </div>
                </div>
                <div class="col mb-0">
                    <label for="urutan" class="form-label">Urutan</label>
                    <input type="text" id="urutan" name="urutan" th:value="${lookup.urutan}" th:class="${#fields.hasErrors('urutan')}? 'form-control is-invalid': 'form-control'" placeholder="Urutan" />
                    <div th:if="${#fields.hasErrors('urutan')}" class="invalid-feedback">
                        <span th:errors="*{urutan}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                Close
            </button>
            <button type="submit" name="submit" class="btn btn-primary">Simpan</button>
        </div>
    </div>
</form>