<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--content -->
<div class="container-xxl flex-grow-1 container-p-y" layout:fragment="content">
    <!-- Content
     <h4 class="py-3 mb-4"><span class="text-muted fw-light">lookup Kelas /</span> List</h4>
     -->
    <!-- Invoice List Table -->
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-md-end justify-content-md-between">
                <h5 class="card-title mb-0" id="kelompok-title" th:href="@{~/master/kelompok/data}">Kelompok</h5>
                <button class="btn rounded-pill btn-success btn-sm" id="btn-add" th:href="@{~/master/kelompok/add}">
                    <i class="ti ti-check"></i>
                    Kelompok
                </button>
            </div>
            <div class="demo-inline-spacing d-flex align-items-start justify-content-start">
                <button class="btn btn-sm btn-secondary">Copy</button>
                <button class="btn btn-sm btn-info">CSV</button>
                <button class="btn btn-sm btn-success">Excel</button>
                <button class="btn btn-sm btn-danger">PDF</button>
                <button class="btn btn-sm btn-primary">Print</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table id="table-kelompok" class="table table-striped">
                    <thead class="table-light">
                    <tr>
                        <th>No</th>
                        <th>idLembaga</th>
                        <th>Kode Kelompok</th>
                        <th>Nama Kelompok</th>
                        <th>Status</th>
                        <th class="cell-fit">Actions</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{~/scripts/master-kelompok.js}"></script>
</th:block>
</body>
</html>