<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y" layout:fragment="content">
    <!-- Content -->
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-md-end justify-content-md-between">
                <h5 class="card-header">Data Jadwal</h5>
                <button class="btn rounded-pill btn-success btn-sm" id="btn-add" th:href="@{~/master/jadwal/add}">
                    <i class="ti ti-check"></i> &nbsp;
                    Tambah Jadwal
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-striped" id="table-jadwal" th:href="@{~/master/jadwal/data}">
                    <thead class="table-light">
                    <tr>
                        <th>No</th>
                        <th>Tahun Pelajaran</th>
                        <th>Kategori</th>
                        <th>Semester/TP</th>
                        <th>Minggu (Ganjil/Genap)</th>
                        <th>Jml.Jam</th>
                        <th>Tgl.Mulai</th>
                        <th>Level</th>
                        <th>Status</th>
                        <th class="cell-fit">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- / Content -->
</div>

<!-- / Content -->
<th:block layout:fragment="script">
    <script th:src="@{~/scripts/master-jadwal.js}"></script>
</th:block>
</body>
</html>